* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-size: 16px;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

img {

    max-width: 100%;
    display: block;
    height: auto;
}

h1 {

    font-family: 'Poppins';
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 20px;
}

h2 {

    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: 800;
}



.menu {

    display: none;
}

.showMenu {

    display: block;
}


/*------------ Header ------------*/

header {

    display: flex;
    align-items: center;
    padding: 20px;
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 300;
    justify-content: space-between;
    background-color: #987654;

}

.logo img {

    height: 80px;
}

header nav ul li {

    list-style-type: none;
    padding: 30px 35px;
}

header nav ul li a {

    text-decoration: none;
    color: #fff;
}

header nav ul li a:hover {

    font-weight: 600;

}

/*------------ Hero Content ------------*/

.hero-text{

    margin: 70px 50px;
    text-align: center;

}

.hero-content p{

    padding: 40px;
}

.about-btn{

    margin-bottom: 80px;
}

.about-btn .btn {
    padding: 10px 30px;
    background-color: #ECD06F;
    text-decoration: none;
    font-weight: 300;
    color: #000000;
    font-size: 1rem;
    border-radius: 6px;
}

.about-btn a:hover {

    font-weight: 500;
}

/*------------ Menu ------------*/

.gallery {

    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 20px 40px;
}

.food a {

    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.food a:hover {

    font-weight: 600;
}


/*-------- Laptop Size --------*/

@media screen and (min-width:992px) {


    header nav ul li {

        display: inline;
    }

    .lines-icon {

        display: none;
    }

    .menu {

        display: block;
    }



}


