* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-size: 16px;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

img {

    max-width: 100%;
    display: block;
    height: auto;
}

h1 {

    font-family: 'Poppins';
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 20px;
}

h2 {

    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

h3 {

    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.menu {

    display: none;
}

.showMenu {

    display: block;
}


/*------------ Header ------------*/

header {

    display: flex;
    align-items: center;
    padding: 20px;
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 300;
    justify-content: space-between;
    background-color: #987654;

}

.logo img {

    height: 80px;
}

header nav ul li {

    list-style-type: none;
    padding: 30px 35px;
}

.lines-icon, header nav ul li a {

    text-decoration: none;
    color: #fff;
}

header nav ul li a:hover {

    font-weight: 600;

}

/*------------ Hero Content ------------*/

.hero-text{

    margin: 70px 50px;
    text-align: center;

}

.hero-content p{

    padding: 40px;
}

.about-btn{

    margin-bottom: 80px;
}

.about-btn .btn, input[type=submit]{
    padding: 15px 50px;
    background-color: #ECD06F;
    text-decoration: none;
    font-weight: 300;
    color: #000000;
    font-size: 1.2rem;
    border-radius: 6px;
    border: none;
}

input[type=submit], .about-btn a:hover {

    font-weight: 500;
}

/*------------ Kitchen ------------*/

.kitchen{

    background-color: #987654;
    color: #ECD06F;
}

.kitchen h2{

    padding-top: 40px;
}
.gallery {

    /* display: flex; */
    /* justify-content: center;
    justify-content: space-around; */
    padding: 20px 40px;
}

.food{
    padding: 20px;
    
}

.food a {

    text-decoration: none;
    color: #ECD06F;
    text-transform: uppercase;
    font-size: 2rem;
    padding-top: 60px;
}

.food a:hover {

    font-weight: 600;
}

/*------------ About Us ------------*/

/* .about-us .about-pic1 img, .about-content img, .about-pic2 img{

    padding: 70px 40px;
} */

.about-text p{

    padding: 40px;
}

.about-content img{

    flex: 50%;

}

.about-text{

    flex:50%;
    padding: 50px 0;
}

/*------------Form Container ------------*/

.customer-form{

    margin-top: 50px;
}

.form-container{

    margin: 40px;
    text-transform: uppercase;
}

.message textarea, .form-box input{

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}

.form-container input[type=submit]{

    text-align: center;
}

.customer-form p{

    text-align: center;
    padding:20px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

/*------------ Footer ------------*/

footer {

    padding: 40px 0;
    background-color: #987654;
    text-align: center;
}

footer ul li {

    display: inline;
    list-style-type: none;
    padding: 30px 35px;
}

footer ul li a {

    text-decoration: none;
    color: #ffffff;
}

footer a:hover {

    font-weight: 600;
}

footer img {

    height: 60px;
    margin: 20px auto;
}

.socials {

    font-size: 1.5rem;
    padding-bottom: 20px;
}

.copyright {

    font-size: 0.5rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*====================== About Page ======================*/

.about-coffee1 {

    background-color: #987654;
    padding: 70px;
}

.about-coffee2 {

    padding: 70px;
}

.about-info1{

    padding: 50px;

}

.about-info2 {

    background-color: #987654;
    padding: 50px;
    color: #ffffff;

}

.about-info1 p, .about-info2 p {

    padding-bottom: 50px;

}

/*-------- Laptop Size --------*/

@media screen and (min-width:992px) {

    h1 {

        font-size: 3.5rem;
        font-weight: 300;
    }

    h2 {

        font-size: 3rem;
        font-weight: 400;

    }

    h3 {

        font-size: 2.5rem;
        font-weight: 300;
    }

    header nav ul li {

        display: inline;
    }

    .lines-icon {

        display: none;
    }

    .menu {

        display: block;
    }

    .hero-content p{

        width: 50%;
        margin: auto;
    }

    .kitchen .gallery{

        display: flex;
    }

    .about-us .about-pic1 img,
    .about-content img,
    .about-pic2 img {
    
        padding: 70px 60px;
    }

    .about-content{

        display: flex;
        align-items: center;
    }

    .form-container{

        margin: 40px 60px;

    }

    .about-info1{

        display: flex;
        align-items: center;
        text-align: center;
    }

    .about-info2{

        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: row-reverse;
    }

    .about-info1 p,
    .about-info2 p {
    
        padding: 0 50px ;
    
    }



}


